In [1]:
import numpy as np
import pandas as pd

In [2]:
#creates array filled with zeros and with 4 colums
Z = np.zeros((4, ))
print("Z :", Z)

Z : [0. 0. 0. 0.]

In [3]:
#creates array with 4 colums, filled with zeros. Changes variable Z index 1 value from 0 to 1.

Z = np.zeros((4, ))
Z[1]=1
print("Z :", Z)

Z : [0. 1. 0. 0.]

In [4]:
#creates array with 4 colums filled with ones. Changes variable Z index 3 value from 1 to 0.
Z = np.ones((4, ))
Z[3]=0
print("Z :", Z)

Z : [1. 1. 1. 0.]

In [8]:
#creates arrat with 4 colums filled with 2s.
Z = 2 * np.ones((4, ))
print("Z :", Z)

Z : [2. 2. 2. 2.]

In [11]:
X = np.array([[1,2],[3,4]])
Y = X[0, :]
Y[1] = 10
print (X)

[[ 1 10]
 [ 3  4]]

In [12]:
X = np.array([[1,3],[11,10]])
print(np.mean(X[X > np.pi]))

10.5

In [13]:
data = {'animal' : ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'], 
        'age' : [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits' : [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority' : ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']